default_language_version:
  python: python3.8
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 21.8b0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.1.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [black==21.8b0]
      - id: nbqa-isort
        additional_dependencies: [isort==5.9.3]
      - id: nbqa-flake8
        additional_dependencies: [flake8==3.9.2]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.0
    hooks:
      - id: prettier
        args: [--print-width=80, --prose-wrap=always]
