default_language_version:
  python: python3.8

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-black
        additional_dependencies: [black==22.6.0]
      - id: nbqa-isort
        additional_dependencies: [isort==5.10.1]
      - id: nbqa-flake8
        additional_dependencies: [flake8==3.9.2]
      # - id: nbqa
      #   entry: nbqa mdformat
      #   name: nbqa-mdformat
      #   alias: nbqa-mdformat
      #   additional_dependencies: [mdformat==0.7.14]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        args: [--print-width=80, --prose-wrap=always]

  - repo: local
    hooks:
      - id: backslash-fixer
        name: Fix backslashes in Jupyter Notebooks
        description:
          Replaces all the backslashes in notebook's markdown cells to break
          tag.
        entry: python commands.py backslash_fix
        additional_dependencies: [fire]
        language: python
        types: [jupyter]
